<div class="container"
    fxLayout="row wrap"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">
    
    <div fxFlex="100">
        <div>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          <hr>
        </div>
      </div>



  <div *ngIf="dish" fxFlex="40">
        <mat-card>
            <mat-card-header>
                <mat-card-title><h3 *ngIf="dish">{{dish.name | uppercase}}</h3></mat-card-title>
            </mat-card-header>
            <picture>
                <source media='(min-width:0px)' srcset={{dish.image}}>
                <img mat-card-image src="" alt={{dish.name}}>
            </picture>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-around center">
                <button class="card-button" mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
                <button class="card-button" mat-button (click)="goBack()">BACK</button>
                <button class="card-button" mat-button>LIKE</button>
                <button class="card-button" mat-button>SHARE</button>
                <button class="card-button" mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
              </mat-card-actions>
        </mat-card>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading Dish. . . Please Wait</h4>
  </div>

  <div *ngIf="dish" fxFlex="40">
        
        <mat-list>
            <h1>Comments</h1>
            <mat-list-item *ngFor="let comment of dish.comments">
                <div mat-line>{{comment.comment}}</div>
                <div mat-line>{{comment.rating}} Stars</div>
                <div mat-line>-- {{comment.author}} {{comment.date | date}}</div>
            </mat-list-item>

        </mat-list>
  </div>
  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading Comments . . . Please Wait</h4>
  </div>

</div>