.card-button{
    font-weight: 900;
}

.full-width {
    width: 95%
}

.half-width {
    width: 45%
}

.form-size {
    width: 75%
}

.bold{
    font-weight: 900;
}

  mat-slider {
    width: 300px;
  }
  